PORT=3000
MIKRO_ORM_HOST=10.0.128.10
MIKRO_ORM_PORT=3306
MIKRO_ORM_USER=root
MIKRO_ORM_PASSWORD=hello
MIKRO_ORM_DB_NAME=hivetown
MIKRO_ORM_DEBUG=false
STRIPE_KEY=stripe_key
STRIPE_WEBHOOK=stripe_webhook_url
FRONTEND_URL=https://hivetown.pt
EMAIL_FROM=noreply@hivetown.pt
EMAIL_USER=something
EMAIL_PASSWORD=hello
