VITE_API_URL='https://hivetown.pt/api'
VITE_FIREBASE_API_KEY='an-example-api-key'
VITE_FIREBASE_AUTH_DOMAIN='some-domain.firebaseapp.com'
VITE_FIREBASE_PROJECT_ID='an-example-project-id'
VITE_FIREBASE_STORAGE_BUCKET='some-domain.appspot.com'
VITE_FIREBASE_MESSAGING_SENDER_ID='some-sender-id'
VITE_FIREBASE_APP_ID='some-app-id'
